@model IEnumerable<Clothing>
@inject IHttpContextAccessor http

@*Added using(Microsoft.AspNetCore.Http to viewImports file*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @if (SessionHelper.IsUserLoggedIn(http))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemID" class="btn btn-outline-light">Edit Me</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemID" class="btn btn-outline-light">Delete Me</a>
                </td>
            }
            @{ 
                string prevUrl = http.HttpContext.Request.Path;
                prevUrl += http.HttpContext.Request.QueryString.Value;
            }
            <td>
                <a asp-action="AddToCart" asp-controller="Cart" 
                   asp-route-id="@item.ItemID" 
                   data-cart-button
                   data-cart-ItemId="@item.ItemID"
                   class="btn btn-primary"
                   asp-route-prevUrl=@prevUrl>
                   Add To Cart
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

